.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #ffffff;
}

.navbar .navbarElement {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 10px 25px;
  text-decoration: none;
  color: #6b1c13;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 125px;
  text-align: center;
  border-radius: 14px;
}

.navbar .navbarElement:hover {
  color: #ffffff;
  background-color: #6b1c13;
}

.navbar .navbarElement .bucketItemsNumber {
  color: #6b1c13;
}

.navbar .logo {
  margin-right: auto;
}

.navbar .logo:hover {
  background-color: #ffffff;
}

.navbar #basket:hover {
  background-color: #ffffff;
}

.navbar .activePage {
  background-color: #6b1c13;
  color: #ffffff;
}

.navbarElement:active {
  background-color: #6b1c13;
  color: #ffffff;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
}

.productCover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productInfo h2,
.productInfo h3 {
  margin: 0px;
}

.productBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productBuy button {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 15px;
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #ffffff;
}

.productBuy button:hover {
  border: 1px solid #6b1c13;
  background-color: lightgray;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product .btnAdd:focus {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  background-color: #ff1a1a;
  border: none;
  outline: none;
}

.product .btnAdd:visited {
  border: none;
  outline: none;
}

.basketProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.basketProductsTable {
  width: 90%;
  padding-top: 50px;
}

tbody tr td {
  font-size: 18px;
}

tbody tr td img {
  padding-top: 5px;
  height: 25%;
}

tr:nth-child(odd) {
  background-color: #f7f3eb;
  color: #6b1c13;
}

.btnDelete {
  background-color: #6b1c13;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
}

.totalCost {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 80px;
  height: 30px;
}

.totalCostTitle {
  font-weight: bold;
  color: #6b1c13;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.totalCostValue {
  padding-left: 10px;
  font-weight: bold;
  color: #1d8a57;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.totalCostDeleteAll {
  background-color: #ffffff;
  color: #000;
  font-size: 15px;
  border: 2px solid #6b1c13;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 15px;
}

.times {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #1d8a57;
  font-weight: bold;
}

.times span {
  color: #6b1c13;
}

.root {
  width: 100vw;
}
/*# sourceMappingURL=main.css.map */